<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student CRUD</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Student CRUD Demo</h1>

<form id="studentForm" onsubmit="create(event)">
    <input type="hidden" id="studentId">
    <div>
        <label>Full Name:</label>
        <input type="text" id="fullName" required>
    </div>
<!--    <div>-->
<!--        <label>Email:</label>-->
<!--        <input type="email" id="email" required>-->
<!--    </div>-->
    <div>
        <label>DOB:</label>
        <input type="date" id="dob">
    </div>
<!--    <div>-->
<!--        <label>Major:</label>-->
<!--        <input type="text" id="major">-->
<!--    </div>-->
    <div>
        <label>GPA:</label>
        <input type="number" step="0.01" min="0" max="4" id="gpa">
    </div>
    <button type="submit">Save</button>
    <button type="reset" onclick="document.getElementById('studentId').value=''">Clear</button>
</form>

<table id="studentList">
    <thead>
    <tr>
        <th>ID</th><th>Name</th><th>GPA</th><th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="s : ${students}">
        <td th:text="${s.id}">1</td>
        <td th:text="${s.name}">Nguyen Van A</td>
        <td th:text="${s.gpa}">3.5</td>
    </tr>
    <tr th:if="${#lists.isEmpty(students)}"><td colspan="5">Không có dữ liệu</td></tr>
    </tbody>
</table>

<script th:src="@{/js/student.js}"></script>
</body>
</html>
